<!DOCTYPE html>
<html>
<head>
    <title>Web Show</title>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css') }}">
</head>
<body>

<div class="container">
    <div class="video-container">
        <img src="/video/mjpeg_mutasd" alt="MJPEG Video" />
    </div>
    <div class="table-container">
        <div class="table-cell" id="action1">
            <img src="{{ url_for('static', filename='images/open_palm.png') }}" alt="Action 1" />
        </div>
        <div class="table-cell" id="action2">
            <img src="{{ url_for('static', filename='images/point_up.png') }}" alt="Action 2" />
        </div>
        <div class="table-cell" id="action3">
            <img src="{{ url_for('static', filename='images/thumbs_up.png') }}" alt="Action 3" />
        </div>
        <div class="table-cell" id="action4">
            <img src="{{ url_for('static', filename='images/thumbs_down.png') }}" alt="Action 4" />
        </div>
        <div class="table-cell" id="action5">
            <img src="{{ url_for('static', filename='images/victory.png') }}" alt="Action 5" />
        </div>
        <div class="table-cell" id="action6">
            <img src="{{ url_for('static', filename='images/ilu.png') }}" alt="Action 6" />
        </div>
    </div>
</div>

<script>
    var socket = io({
        path: '/apps/show/socket.io/'
    });
    
    socket.on('action', function(data) {
        console.log(data);
        var actionBox = document.querySelector(`#action${data}`);
        if (!actionBox) return;
        actionBox.classList.add('is-active');
        setTimeout(function() {
            actionBox.classList.remove('is-active');
        }, 3000);
    });

</script>
