:5059 {
    # Main Web UI Router
    handle /* {
        reverse_proxy dogi:5059
    }

    # Route for Flask socketio
    handle_path /apps/system/socket.io/* {
        rewrite * /socket.io{uri}
        reverse_proxy dogi:5050 {
            header_up X-Forwarded-Prefix /apps/system/socket.io
        }
    }
    # Route for Flask App
    handle_path /apps/system/* {
        reverse_proxy dogi:5050 {
            header_up X-Forwarded-Prefix /apps/system
        }
    }

    handle_path /video/* {
        reverse_proxy dogi:5051 {
            header_up X-Forwarded-Prefix /video
        }
    }
    

    handle_path /apps/search/socket.io/* {
        rewrite * /socket.io{uri}
        reverse_proxy dogi:5053 {
            header_up X-Forwarded-Prefix /apps/search/socket.io
        }
    }
    handle_path /apps/search/* {
        reverse_proxy dogi:5053 {
            header_up X-Forwarded-Prefix /apps/search
        }
    }

    handle_path /apps/show/socket.io/* {
        rewrite * /socket.io{uri}
        reverse_proxy dogi:5054 {
            header_up X-Forwarded-Prefix /apps/show/socket.io
        }
    }
    handle_path /apps/show/* {
        reverse_proxy dogi:5054 {
            header_up X-Forwarded-Prefix /apps/show
        }
    }

    handle_path /apps/follow/socket.io/* {
        rewrite * /socket.io{uri}
        reverse_proxy dogi:5055 {
            header_up X-Forwarded-Prefix /apps/follow/socket.io
        }
    }
    handle_path /apps/follow/* {
        reverse_proxy dogi:5055 {
            header_up X-Forwarded-Prefix /apps/follow
        }
    }

    handle_path /apps/prompt/socket.io/* {
        rewrite * /socket.io{uri}
        reverse_proxy dogi:5056 {
            header_up X-Forwarded-Prefix /apps/prompt/socket.io
        }
    }
    handle_path /apps/prompt/* {
        reverse_proxy dogi:5056 {
            header_up X-Forwarded-Prefix /apps/prompt
        }
    }

    handle_path /apps/pupality/socket.io/* {
        rewrite * /socket.io{uri}
        reverse_proxy dogi:5057 {
            header_up X-Forwarded-Prefix /apps/pupality/socket.io
        }
    }
    handle_path /apps/pupality/* {
        reverse_proxy dogi:5057 {
            header_up X-Forwarded-Prefix /apps/pupality
        }
    }

}
